# Python
__pycache__/
*.py[cod]
*.egg-info/
build/

# Build and data outputs
qbt/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Environment
.env
